.RectangleForm {
  display: flex;
  padding: 5px 0;
  flex-wrap: wrap;
}

.RectangleForm-inputWrap {
  padding: 3px 10px;
  display: flex;
}

.RectangleForm-input {
  width: 50px;
}

.RectangleForm-label {
  padding-right: 6px;
}
